server:
  port: 9565

logging:
  level:
    root: debug
    org.hibernate.envers.boot: OFF
  discord:
    webhook-url: https://discord.com/api/webhooks/1305759962022150204/fsUotdCkmDGRzUMF4O8wKUNZOeHPQvnzeAAIyPKTB-SREypN_FAL8R3272r9jf4v00QS
    username: LoggerBot
    avatar-url: https://phinf.pstatic.net/contact/20240821_205/1724202038449ujiun_JPEG/image.jpg
  config: classpath:logback.xml

spring:
  jpa:
    database: mysql
    open-in-view: false
    databse-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate.id.new_generator_mappings: false
      hibernate.implicit_naming_strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
      hibernate.physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      hibernate.globally_quoted_identifiers: true
      hibernate.globally_quoted_identifiers_skip_column_definitions: true
      hibernate.default_batch_fetch_size: 1000
      org:
        hibernate:
          envers:
            revision_field_name: rev_id
            audit_table_suffix: _histories
            store_data_at_delete: true
      hibernate:
        show_sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: validate
  datasource:
    url: jdbc:mysql://localhost:3306/log
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
  flyway:
    enabled: true
    baseline-version: 0
    out-of-order: true

redis:
  chobolevel:
    host: localhost
    port: 6379
    password:

jwt:
  issuer: ENC(cyIVjl7PIGwR3/yDARIOB56e0tUfQa5QQRIvwaYCma61C8I+Zzh8IuooBrQ/eq7t)
  secret: ENC(nS9O3l5DBtxsRuoT79sUDIU4KqjKfS0FsxmFUFuS6c1mS5PS1DbQfzltXbqzaqzF)

cloud:
  aws:
    s3:
      bucket: "chobolevel"
    stack.auto: false
    region.static: "ap-northeast-2"
    credentials:
      accessKey: ENC(GMumFZ/5G1XpFKj72WjhSqCJ3n5e5ifte+vJEvMLWU9o3AvSxFXpN6O5tsbfwKYpRq549fOg6ojgXsngKYKgrw==)
      secretKey: ENC(xPz8JOi1oc56tbbVa7R4lkYaPCcxxzuRu0eO3DHKzHd+KoYqUoRP8Adj9zMsT0D3iAu/8j6OBG7/kf2m7xJe3we+emtlf0pvERMr4I4ibBI=)

