server:
  port: 9565
  reactive:
    session:
      cookie:
        path: /
        max-age: 31536000
        domain: chobolevel.co.kr
        secure: true
        http-only: true
        same-site: none

logging:
  level:
    root: info
    org.hibernate.envers.boot: OFF
  discord:
    webhook-url: ENC(KRUOGEjPmKpDbISSnB2vZzq06ARQqFJMok6Ei1z8L5G0AHklB4ryYgofcdamxWpeeq8MczsW2kp6PvhfJr4T4D9Bq1gPltEM/IDrKzdw/wWjVWX3IdiNxFQqUo06Qgif2hW3jIl6ES7h9U8mbeHXbAqtYMA8j24gjfNfUmOGnPEWzWWMlodeVexTDY56m6F/3e+8OzCQ2JAhFcAzkU1vow==)
    username: LoggerBot
    avatar-url: ENC(BqZdraqPXRzbHMEcemXTdh44LCYfilN5zUkng7xCUTIrgpAN+LWEoxrfoGjImm6xjG2O3glrUDD97SXluGwaZDDUK4Yy2z7423fX0cumWAHkbj5g8bQv1HpfaJ7lbL6U4HpuQsWrVpF2419ZRfaFdJOHFs0vZ6SxTsTymuv+ONU=)
  loki:
    url: ENC(hdK9xKaPeOZvi7ibfFQHHaHbRX5HMoC3EGn5Sgo9sjNQwe3ZVVdtHSLFGX+38wmC80CZbvVFq95arwf33934cD2nZUKT0UnshXrV9FZo2dI=)
  config: classpath:logback-spring.xml

spring:
  application:
    name: chobolevel-log
  jpa:
    database: mysql
    open-in-view: false
    databse-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate.id.new_generator_mappings: false
      hibernate.implicit_naming_strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
      hibernate.physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      hibernate.globally_quoted_identifiers: true
      hibernate.globally_quoted_identifiers_skip_column_definitions: true
      hibernate.default_batch_fetch_size: 1000
      org:
        hibernate:
          envers:
            revision_field_name: rev_id
            audit_table_suffix: _histories
            store_data_at_delete: true
      hibernate:
        show_sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: validate
  datasource:
    url: ENC(vKVfK5vhmsY3HkBjD3bCtRhpQuYIQgGWG254ospQERuV21QYR3g9GlzD+qNrGvO4hRyf81Y7J7Lx0SyXtO3GoPpvFom7dEkIyp72ZAV+HyhjPsggU5d8bFCZCu4Z6H4XVZz5ESNW1kOiUaMtZoszQg==)
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ENC(X5TwXzAoqYRK2lA0rJm8o4Zn+/3vhXunaejrAPXb9xSvy6LOYn3p8R2QvYkYz6Uh)
    password: ENC(d53owQb+sOmtsZT6jXiANrjNT8qZNIiks8eZTirjebQnEJxyUX9ZhMsvDDmzquDp)
  flyway:
    enabled: true
    baseline-version: 0
    out-of-order: true

jasypt:
  encryptor:
    algorithm: PBEWITHHMACSHA512ANDAES_256
    key-obtention-iterations: 1000
    pool-size: 1
    provider-name: SunJCE
    salt-generator-classname: org.jasypt.salt.RandomSaltGenerator
    iv-generator-classname: org.jasypt.iv.RandomIvGenerator
    string-output-type: base64

redis:
  chobolevel:
    host: ENC(EDgS7tLgD0mhSqEge2q/4XqwYKN+Zs6i0nBGEVY5SXFUJMbK6AUtrU8P8mPbVqGy)
    port: 6379
    password: ENC(Z4V+Gur8ARB5jrDAV7JgSuUuNugrAJwwcLgVdfDdnnX7tmLGGQeR0P6li/TJzKdv)

jwt:
  issuer: ENC(cyIVjl7PIGwR3/yDARIOB56e0tUfQa5QQRIvwaYCma61C8I+Zzh8IuooBrQ/eq7t)
  secret: ENC(nS9O3l5DBtxsRuoT79sUDIU4KqjKfS0FsxmFUFuS6c1mS5PS1DbQfzltXbqzaqzF)

security:
  allow-origins: ENC(dky71ZJgcztIQJcEcHSfDXvQQCW7SJumNxDq5yAbo3/io37UF1pV1F3jVMpp9mvhTW7HSz3pIhuA9xm/eSX6Hw==)

cloud:
  aws:
    s3:
      bucket: "chobolevel"
    stack.auto: false
    region.static: "ap-northeast-2"
    credentials:
      accessKey: ENC(GMumFZ/5G1XpFKj72WjhSqCJ3n5e5ifte+vJEvMLWU9o3AvSxFXpN6O5tsbfwKYpRq549fOg6ojgXsngKYKgrw==)
      secretKey: ENC(xPz8JOi1oc56tbbVa7R4lkYaPCcxxzuRu0eO3DHKzHd+KoYqUoRP8Adj9zMsT0D3iAu/8j6OBG7/kf2m7xJe3we+emtlf0pvERMr4I4ibBI=)

management:
  endpoints:
    web:
      base-path: "/monitors"
      exposure:
        include: "*"
        exclude: "env, beans"
