server:
  port: 9565
  reactive:
    session:
      cookie:
        path: "/"
        max-age: 31536000
        domain: localhost
        secure: true
        http-only: true
        same-site: none

logging:
  level:
    root: info
    org.hibernate.envers.boot: OFF
  discord:
    webhook-url: ENC(p29AFSo5PYQq6qVbXU6z/Ug8eolFUtPEY8VDrwxC4SnrCQXZ1x4WADgNo7Fw3rK4XRRwwhnvu77WLipJV6FMjl89U/XuCrs4eDjbJYtv/PnAM9EzXhQBkjWIJWmGWhKcqSFrn6E3+/sGdsvxmbxy3wqPmfmhac9AJFNMb7cV9OjLUWg2ayQIRDlvVxiv+xZmWyYogLadVsZt4ToE1D1ySg==)
    username: LoggerBot
    avatar-url: ENC(BqZdraqPXRzbHMEcemXTdh44LCYfilN5zUkng7xCUTIrgpAN+LWEoxrfoGjImm6xjG2O3glrUDD97SXluGwaZDDUK4Yy2z7423fX0cumWAHkbj5g8bQv1HpfaJ7lbL6U4HpuQsWrVpF2419ZRfaFdJOHFs0vZ6SxTsTymuv+ONU=)
  config: classpath:logback-spring.xml

spring:
  application:
    name: chobolevel-log
  jpa:
    database: mysql
    open-in-view: false
    databse-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate.id.new_generator_mappings: false
      hibernate.implicit_naming_strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
      hibernate.physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      hibernate.globally_quoted_identifiers: true
      hibernate.globally_quoted_identifiers_skip_column_definitions: true
      hibernate.default_batch_fetch_size: 1000
      org:
        hibernate:
          envers:
            revision_field_name: rev_id
            audit_table_suffix: _histories
            store_data_at_delete: true
      hibernate:
        show_sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: validate
  datasource:
    url: jdbc:mysql://localhost:3306/log
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
  flyway:
    enabled: true
    baseline-version: 0
    out-of-order: true

jasypt:
  encryptor:
    algorithm: PBEWITHHMACSHA512ANDAES_256
    key-obtention-iterations: 1000
    pool-size: 1
    provider-name: SunJCE
    salt-generator-classname: org.jasypt.salt.RandomSaltGenerator
    iv-generator-classname: org.jasypt.iv.RandomIvGenerator
    string-output-type: base64

redis:
  chobolevel:
    host: localhost
    port: 6379
    password:

jwt:
  issuer: ENC(cyIVjl7PIGwR3/yDARIOB56e0tUfQa5QQRIvwaYCma61C8I+Zzh8IuooBrQ/eq7t)
  secret: ENC(nS9O3l5DBtxsRuoT79sUDIU4KqjKfS0FsxmFUFuS6c1mS5PS1DbQfzltXbqzaqzF)

security:
  allow-origins: ENC(4K87xBn8UQLVcVfztebCtC+/jt2xtURHMjwbd3jE0X2Tns96uhZFlTX/E9sFEmlPvjyXxGLUVSrWkEg0GXvPFA==)

cloud:
  aws:
    s3:
      bucket: "chobolevel"
    stack.auto: false
    region.static: "ap-northeast-2"
    credentials:
      accessKey: ENC(GMumFZ/5G1XpFKj72WjhSqCJ3n5e5ifte+vJEvMLWU9o3AvSxFXpN6O5tsbfwKYpRq549fOg6ojgXsngKYKgrw==)
      secretKey: ENC(xPz8JOi1oc56tbbVa7R4lkYaPCcxxzuRu0eO3DHKzHd+KoYqUoRP8Adj9zMsT0D3iAu/8j6OBG7/kf2m7xJe3we+emtlf0pvERMr4I4ibBI=)


management:
  info:
    java:
      enabled: true
    os:
      enabled: true
  endpoint:
    health:
      show-components: always
    loggers:
      enabled: true
    httpexchanges:
      enabled: true
  endpoints:
    web:
      base-path: "/monitors"
      exposure:
        include: "*"
        exclude: "env, beans"
