<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url"/>
  <springProperty name="DISCORD_USERNAME" source="logging.discord.username"/>
  <springProperty name="DISCORD_AVATAR_URL" source="logging.discord.avatar-url"/>

  <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
    <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
    </layout>
    <username>${DISCORD_USERNAME}</username>
    <avatarUrl>${DISCORD_AVATAR_URL}</avatarUrl>
    <tts>false</tts>
  </appender>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="DISCORD"/>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="ASYNC_DISCORD"/>
    <appender-ref ref="Console"/>
  </root>
</configuration>
