version: "3.9"

networks:
  network:

volumes:
  chobolevel-log-redis:

services:
  redis:
    image: redis:4-alpine
    container_name: chobolevel-log-redis
    networks:
      - network
    ports:
      - "6379:6379"
    volumes:
      - chobolevel-log-redis:/data
    restart: always
    command: redis-server --requirepass chobolevel

  backend:
    image: rodaka123/log:latest
    container_name: chobolevel-log-backend
    networks:
      - network
    ports:
      - "9565:9565"
    restart: always

  nginx:
    image: nginx:latest
    container_name: chobolevel-log-nginx
    networks:
      - network
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    restart: always
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''

  certbot:
    image: certbot/certbot:latest
    container_name: chobolevel-log-certbot
    networks:
      - network
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    depends_on:
      - nginx
