version: "3.9"

networks:
  chobolevel:
    driver: bridge

volumes:
  grafana-storage:
    driver: local
  chobolevel-redis:
    driver: local
  chobolevel-nginx:
    driver: local
  loki-storage:
    driver: local

services:
  redis:
    image: redis:latest
    container_name: chobolevel-log-redis
    volumes:
      - chobolevel-redis:/data
    networks:
      - chobolevel
    ports:
      - "6379:6379"
    restart: always
    command: redis-server --requirepass chobolevel

  backend:
    image: rodaka123/log:latest
    container_name: chobolevel-log-backend
    networks:
      - chobolevel
    ports:
      - "9565:9565"
    restart: always

  nginx:
    image: nginx:latest
    container_name: chobolevel-log-nginx
    networks:
      - chobolevel
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - chobolevel-nginx:/var/log/nginx
    restart: always
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''

  certbot:
    image: certbot/certbot:latest
    container_name: chobolevel-log-certbot
    networks:
      - chobolevel
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    depends_on:
      - nginx

  loki:
    image: grafana/loki:latest
    container_name: chobolevel-log-loki
    networks:
      - chobolevel
    restart: always
    ports:
      - "3100:3100"
    volumes:
      - loki-storage:/tmp/loki
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml
    depends_on:
      - backend
    command:
      - "-config.file=/etc/loki/loki-config.yaml"

  prometheus:
    image: prom/prometheus
    container_name: chobolevel-prometheus
    networks:
      - chobolevel
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    image: grafana/grafana
    container_name: chobolevel-grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - chobolevel
    restart: always
    depends_on:
      - prometheus
      - loki
    ports:
      - "3000:3000"
